footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;

  i {
    transform: none;
    font-size: 1rem;
  }
}
